# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public
/ptContactForm.git

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


secret.js
EmailTemplate.txt
bizLogo.PNG
welcomeImg.PNG
welcomeLogo.PNG
logo192px.png
logo384px.png
logo512px.png
maskable.png
favicon.ico
ptContactForm.git.bfg-report
recording.mov
recording2.mov
screenshot1.png
screenshot2.png
screenshot3.png